@use "../../helpers" as *;

.hero {
    height: 100dvh;
    margin-top: rem(166);
    position: relative;

    &__bg {
        position: absolute;
        inset: 0;

        &::before {
            content: "";
            background: linear-gradient(360deg, rgba(0, 0, 0, 0.5) 35.34%, rgba(255, 255, 255, 0) 100%);
            position: absolute;
            inset: 0;
            z-index: 1;
        }

        img {
            scale: 1 1.086;
        }
    }

    &__container {
        position: relative;
        z-index: 2;
    }

    &__title {
        max-width: rem(800);
        padding-top: rem(60);
        font-family: var(--second-family);
        color: var(--color-white);

        &--l {
            display: block;
            font-weight: 800;
            font-size: rem(60);
            letter-spacing: 0.01em;
            line-height: 130%;
            text-transform: uppercase;
        }

        &--s {
            font-weight: 400;
            line-height: 130%;
            font-size: rem(48);
        }
    }

    &__prices {
        margin-top: rem(40);
        display: flex;
        gap: rem(30);

        &-item {
            flex: 0 0 rem(352);
        }
    }

    &__action {
        width: rem(336);
        height: rem(66);
        margin-top: rem(24);
    }

    &__features {
        margin-top: rem(48);
        display: flex;
        justify-content: space-between;

        &-item {
            flex: 1 1 100%;
        }
    }
}

.hero-price {
    display: flex;
    align-items: center;
    gap: rem(16);

    &__icon {
        width: rem(44);
        flex-shrink: 0;
    }

    &__description {
        font-style: italic;
        font-size: rem(16);
        color: var(--color-white);
    }
}

.hero-feature {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: rem(16) rem(10);

    &__icon {
        grid-row: 1 / 3;
        grid-column: 1 / 2;
        width: rem(44);
    }

    &__title {
        font-family: var(--second-family);
        font-weight: 500;
        font-size: rem(24);
        line-height: 92%;
        color: var(--color-white);
    }

    &__description {
        font-family: var(--third-family);
        font-weight: 400;
        font-size: rem(15);
        color: var(--color-white);
    }
}

@include mobile {
    .hero {
        min-height: 100dvh;
        height: auto;
        margin-top: rem(118);
        // position: relative;

        &__bg {
            max-height: rem(430);

            &::before {
            }

            img {
                scale: 1 1;
            }
        }

        &__container {
        }

        &__title {
            max-width: rem(380);
            padding-top: rem(36);

            &--l {
                font-size: rem(30);
            }

            &--s {
                font-size: rem(20);
            }
        }

        &__prices {
            max-width: rem(352);
            margin-top: rem(20);
            gap: rem(8);
            flex-direction: column-reverse;

            &-item {
                flex: 0 0 auto;
            }
        }

        &__action {
            width: rem(248);
            height: rem(52);
        }

        &__features {
            margin-top: rem(60);
            padding-block: rem(60);
            flex-direction: column;
            position: relative;

            &::before {
                content: "";
                width: 150%;
                height: 100%;
                background-color: var(--color-black);
                position: absolute;
                top: 0;
                left: 0;
                translate: -10% 0;
                z-index: -1;
            }

            &-item {
                padding-block: rem(16);
                border-top: 1px solid var(--color-white);

                &:last-of-type {
                    border-bottom: 1px solid var(--color-white);
                }
            }
        }
    }

    .hero-price {
        gap: rem(12);

        &__icon {
        }

        &__description {
        }
    }

    .hero-feature {
        max-width: rem(340);
        gap: rem(12) rem(10);

        &__icon {
        }

        &__title {
            font-size: rem(20);
            line-height: 110%;
        }

        &__description {
            font-size: rem(16);
        }
    }
}
