@use "../../helpers" as *;

.services {
    padding-block: rem(60) rem(150);

    &__container {
    }

    &__title {
    }

    &__list {
        margin-top: rem(28);
        display: flex;
        flex-direction: column;
        gap: rem(52);
    }

    &__item {
    }
}

.service {
    &__title {
        padding-left: rem(20);
        font-family: var(--second-family);
        font-weight: 500;
        font-size: rem(32);
        line-height: 130%;
        color: var(--color-white);
    }

    &__list {
        margin-top: rem(16);
        display: flex;
        flex-wrap: wrap;
        gap: rem(15) rem(16);
    }

    &__item {
        // flex: 1 1 auto;
    }

    &__link {
        padding: rem(16);
        border: 1px solid var(--color-white);
        border-radius: rem(14);
        display: flex;
        align-items: center;
        gap: rem(12);
        font-size: rem(16);
        color: var(--color-white);
        position: relative;

        &:hover {
            background-color: var(--color-black--light);

            &::after {
                scale: 1.2;
            }
        }

        &:active {
            background-color: transparent;
        }

        &::after {
            content: "➢";
            font-size: rem(18);
            transition: scale var(--transition-duration);
        }
    }
}

.services-contact {
    margin-top: rem(40);
    padding: rem(60);
    border: 1px solid var(--color-white);
    border-radius: rem(14);
    display: flex;
    flex-direction: column;
    gap: rem(24);
    position: relative;
    overflow: hidden;

    &__gradient {
        position: absolute;
        inset: 0;
        z-index: 0;

        img {
            height: 100%;
            object-fit: cover;
        }
    }

    &__noise {
        position: absolute;
        inset: 0;
        z-index: 1;
    }

    &__svg {
        width: rem(1515);
        position: absolute;
        top: 0;
        right: 0;
        translate: 35% -25%;
        z-index: 2;
    }

    &__title {
        font-family: var(--second-family);
        font-weight: 500;
        font-size: rem(48);
        line-height: 130%;
        text-transform: uppercase;
        color: var(--color-white);
        z-index: 3;
    }

    &__description {
        max-width: rem(800);
        font-weight: 500;
        font-size: rem(20);
        line-height: 130%;
        color: var(--color-white);
        z-index: 3;
    }

    &__action {
        width: rem(248);
        height: rem(60);
        z-index: 3;
    }
}

@include mobile {
    .services {
        padding-block: rem(30) rem(60);
        &__container {
        }

        &__title {
            font-size: rem(24);
        }

        &__list {
            margin-top: rem(32);
            gap: rem(24);
        }

        &__item {
        }
    }

    .service {
        &__title {
            padding-left: rem(10);
            font-size: rem(20);
        }

        &__list {
            flex-direction: column;
            gap: rem(8);
        }

        &__item {
        }

        &__link {
            padding: rem(5) rem(5) rem(5) rem(12);
            gap: rem(12);
            font-size: rem(15);

            &:hover {
                background-color: transparent;
            }

            &:active {
                background-color: var(--color-black--light);
            }

            picture {
                width: rem(80);
                flex-shrink: 0;
                order: 1;

                img {
                    border-radius: rem(12);
                }
            }

            &::after {
                // content: none;
                order: 0;
                margin-left: auto;
            }
        }
    }

    .services-contact {
        padding: rem(20) rem(20) rem(30) rem(20);
        gap: rem(20);

        &__gradient {
            img {
                min-width: 170%;
            }
        }

        &__svg {
            width: auto;
            inset: 0;
            translate: 0 0;

            img {
                object-fit: cover;
                height: 100%;
                object-position: bottom;
            }
        }

        &__title {
            font-size: rem(28);
        }

        &__description {
            max-width: rem(480);
            font-weight: 400;
            font-size: rem(16);
            line-height: 140%;
        }

        &__action {
            max-width: rem(288);
            width: 100%;
            align-self: center;
        }
    }
}
